{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap & jQuery -->
        <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'plugins/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Plugins -->
        <script type="text/javascript" src="{% static 'plugins/typeahead.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/datatables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/datatables/Buttons-1.7.0/js/dataTables.buttons.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/datatables/Buttons-1.7.0/js/buttons.html5.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/datatables/Buttons-1.7.0/js/buttons.print.min.js' %}"></script>
        <link href="{% static 'plugins/datatables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-typeahead.css' %}">
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Helium Recovery System - HLM View</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item" id="nav-overview">
                  <a class="nav-link" href="{% url 'index' %}">Overview</a>
                </li>

                <li class="nav-item" id="nav-measurements">
                    <a class="nav-link" href="{% url 'measurements' %}">Measurements</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Locations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="nav-locations-dropdown">
                    <a class="dropdown-item" href="#">R55 - TS1</a>
                    <a class="dropdown-item" href="#">R80 - TS2</a>
                    <a class="dropdown-item" href="#">R108 - He Recovery</a>
                  </div>
                </li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      View
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="nav-locations-dropdown">
                      <a class="dropdown-item" href="#">Flow</a>
                      <a class="dropdown-item" href="#">Compressor</a>
                      <a class="dropdown-item" href="#">ColdBox</a>
                      <a class="dropdown-item" href="#">Purifier</a>
                      <a class="dropdown-item" href="#">DLS</a>
                    </div>
                  </li>
                  
              </ul>
              <form class="form-inline my-2 my-lg-0" action="{% url 'object_search' %}" method="GET">
                <input class="form-control mr-sm-2 objectSearchTypeahead" type="search" name="q" value="{{ request.GET.q }}" required="true" placeholder="Search for an object" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        <main role="main">
            {% block breadcrumbs %}
                {% block crumbs %}
                {% endblock %}
            {% endblock %}
            
            {% block content %}
            {% endblock %}
        </main>

        <!-- Custom Scripts -->
        {% url 'object_names' as obj_names_url %}
        {{ obj_names_url|json_script:"object-names-url" }}
        <script type="text/javascript" src="{% static 'utils/object-search-autocomplete.js' %}"></script>
        {% block javascript %}{% endblock %}

    </body>
</html>