{% extends 'base.html' %}
{% load static %}

{% block title %}
- {{ building.id }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">Building: {{ building.id }}</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}
{{ building.id|json_script:"building-id" }}

<script>
    $(document).ready(function() {
        var element = document.getElementById("nav-{{ building.id }}");
        element.classList.add("active");
    })
</script>

<!-- Data Cards -->
<script>
    function updateValues() {
        $.ajax({
            url: "{% url 'general_data' %}",
            dataType: 'json',
            success: function(data) {
                const buildingId = JSON.parse(document.getElementById('building-id').textContent);
                data = data[buildingId]
                $("#he-total").text(data["he_total"]);
                $("#oxygen-level").text(data["oxygen"]);
                $("#purity-level").text(data["purity"]);
            }
        });
    }

    updateValues();
    setInterval( updateValues, 300000 ); // 5 min
</script>

<script>
    const buildingId = JSON.parse(document.getElementById('building-id').textContent);

    /* Formatting function for row details (nested table) */
    function format ( rowData ) {
        // `rowData` is the original data object for the row
        return  '<table id="' + rowData.id + '" class="table table-bordered table-hover table-sm mx-auto" style="width: 90%;">'+
                '</table>';   
    }

    $(document).ready(function() {
        var table = $('#coordinators-table').DataTable( {
            retrieve: true,
            searching: false,
            paging: false,
            info: false,
            order: [[1, "asc"]],
            language: {
                emptyTable: "No coordinators found for " + buildingId
            },
            ajax: {
                url: "{% url 'general_data' %}",
                type: 'GET',
                dataSrc: buildingId + '.coordinators'
            },
            columns: [
                {"data": "id"},
                {"data": "name",
                "render": function(data, type, row, meta) {
                    if (type == 'display') {
                        data = '<a href="' + "{% url 'detail' %}" + row.id + '">' + data + '</a>'; 
                    }
                    return data;
                }
                },
                {"data": "he_total"},
                {"data": "devices.length"}
            ],
            columnDefs: [
                {
                    targets: 1,
                    className: "coord-name",

                },
                {
                    targets: 3,
                    render: function(data, type, row, meta) {
                        if (type == 'display') {
                            if (data !== null && row.devices.length > 0) {
                                data = 
                                    '<div class="show-devices cursor-pointer">' + 
                                        data + 
                                        '<span class="float-right px-3">' + 
                                            '<i class="bi bi-zoom-in"></i>' +
                                        '</span>' +
                                    '</div>';
                            }
                        }
                        return data;
                    }
                }
            ],
            initComplete: function() {
                $("#objects-table").width("100%");
            }
        });

        // Add event listener for opening and closing coordinator devices
        $('#coordinators-table tbody').on('click', '.show-devices', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            var rowData = row.data();
            var coordinatorName = $(tr).find("td.coord-name")

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                $("i", this).toggleClass("bi bi-zoom-in bi-zoom-out");

                coordinatorName.removeClass("font-weight-bold");

                // Destroy the nested datatable
                $('#' + rowData.id).DataTable().destroy();
            }
            else {
                // Open this row
                row.child( format(rowData) ).show();

                coordinatorName.addClass("font-weight-bold");

                // Create the nested datatable for devices
                $( '#' + rowData.id ).DataTable( {
                    data: rowData.devices,
                    dataSrc: '',
                    retrieve: true,
                    searching: false,
                    paging: false,
                    info: false,
                    order: [[1, "asc"]],
                    language: {
                        emptyTable: "No devices found for this coordinator."
                    },
                    columns: [
                        { data: "id", title: "Device ID"},
                        { data: "name", title: "Device Name",
                        render: function(data, type, row, meta) {
                                if (type == 'display') {
                                    data = '<a href="' + "{% url 'detail' %}" + row.id + '">' + data + '</a>'; 
                                }
                                return data;
                            }
                        },
                        { data: "he_value", title: "Helium L"},
                        { data: "fill_percentage", title: "Fill %"},
                        { data: "last_update", title: "Last Update",
                        render: function(data, type, row, meta) {
                                if (type == 'display') {
                                    if (!(data === null)) {
                                        data = 
                                        "<div>" +
                                            moment($.format.date(data, "yyyy-MM-dd HH:mm:ss"), "YYYY-MM-DD HH:mm:ss").fromNow() + 
                                            "<span class=\"float-right font-weight-light\">" +
                                                $.format.date(data, "MMM. d, yyyy, h:mm p");
                                            "</span>" +
                                        "</div>"
                                    }
                                }
                                return data;
                            }
                        }
                    ]
                });
                
                $("i", this).toggleClass("bi bi-zoom-in bi-zoom-out");
            }
        } );

        setInterval( function () {
            table.ajax.reload( null, false );
        }, 300000 );
    });
</script>

<script type="text/javascript" src="{% static 'js/custom/graph-range-select.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mx-5 my-3">
    <h2 class="font-weight-normal text-center">{{ building.id }} - {{ building.desc }}</h2>

    <hr>

    <div class="card-deck text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-normal">Total Helium</h5>
                <h3 class="card-text font-weight-normal"><span id="he-total">Loading...</span></h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-normal">Oxygen Level</h5>
                <h3 class="card-text font-weight-normal"><span id="oxygen-level">Loading...</span></h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-normal">Purity Level</h5>
                <h3 class="card-text font-weight-normal"><span id="purity-level">Loading...</span></h3>
            </div>
        </div>
    </div>
    
    <hr>

    <h3 class="font-weight-normal mb-4">Coordinators</h3>
    <table class="table table-bordered table-hover table-sm" id="coordinators-table">
        <thead>
            <tr>
                <th scope="col">Object ID</th>
                <th scope="col">Coordinator Name</th>
                <th scope="col">Total Helium</th>
                <th scope="col">Connected Devices</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate body with AJAX sourced data -->
        </tbody>
    </table>

    {% if building.graphs %}
    <hr>
    <h3 class="font-weight-normal mb-3">Trends</h3>
        {% for graph_object_id in building.graphs %}
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0 mb-2">
                    <a href='http://localhost:3000/d/5C5i_1sMk/object-measurements?orgId=1&refresh=5m&var-object={{graph_object_id}}'>View in Grafana</a>
                </div>
                <div class="col px-0">
                    <select class="custom-select float-right trends-range" data-graph="trends-graph-{{forloop.counter}}" onchange="updateGraphTimeRange(this)">
                    </select>
                </div>
            </div>
        </div>
        
        <iframe src="http://localhost:3000/d-solo/5C5i_1sMk/object-measurements?orgId=1&refresh=5m&var-object={{graph_object_id}}&panelId=32&from=now-24h&to=now" 
        width="100%" height="350" frameborder="0" id="trends-graph-{{forloop.counter}}" class="mb-5"></iframe>
        {% endfor %}
    {% endif %} 

    {% if building.map %}
    <hr>
    <h3 class="font-weight-normal mb-3">{{ building.id }} Map</h3>
    {% with 'images/'|add:building.map as image_static %}
        <img src="{% static image_static %}" alt="{{ building.id }} Map" style="width: 80%">
    {% endwith %}
    {% endif %}

</div>
{% endblock %}
