{% extends 'base.html' %}
{% load static %}

{% block title %}
- {{ building.id }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">Building: {{ building.id }}</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        var element = document.getElementById("nav-{{ building.id }}");
        element.classList.add("active");
    })
</script>

{{ building.id|json_script:"building-id" }}
{% url 'general_data' building_id=building.id as general_data %} {{ general_data|json_script:"general-data-url" }}
{% url 'detail' as obj_details %} {{ obj_details|json_script:"obj-details-url" }}


<script type="text/javascript" src="{% static 'js/custom/building-main-values.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/tables/building-coordinators-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/building-card-warnings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/graph-range-select.js' %}"></script>

{% block custom-js %}
{% endblock %}

{% endblock %}

{% block content %}
<div class="mx-5 my-3">
    <h2 class="font-weight-normal text-center">{{ building.id }} - {{ building.desc }}</h2>

    <hr>

    <div class="card-deck text-center">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="card-title font-weight-normal">Transport Helium (L)</h5>
                <h3 class="card-text font-weight-normal"><span id="he-transport">Loading...</span></h3>

                <div class="position-absolute" style="left: 85%; top:0;">
                    <!-- d-none by default -->

                    <div class="d-none" id="stale-devices-wrapper">
                        <div class="dropdown d-inline">
                            <button title="View devices with stale values" class="btn btn-link p-1 m-0" type="button" 
                            id="dropdownStaleDevices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-exclamation-triangle text-warning"></i>
                            </button>
                        
                            <ul class="dropdown-menu allow-focus warning-dd-menu" id="stale-devices-dd-menu" aria-labelledby="dropdownStaleDevices"
                            style="max-height: 300px; max-width: 400px; overflow-y: auto;">
                            <!-- populated by card warnings js -->
                            </ul>
                        </div>
                    </div>

                    <div class="d-none" id="no-value-devices-wrapper">
                        <div class="dropdown d-inline">
                            <button title="View devices with missing values" class="btn btn-link p-1 m-0" type="button" 
                            id="dropdownMissingValueDevices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-exclamation-octagon text-danger"></i>
                            </button>
                        
                            <ul class="dropdown-menu allow-focus warning-dd-menu" id="no-value-devices-dd-menu" aria-labelledby="dropdownMissingValueDevices"
                            style="max-height: 300px; max-width: 400px; overflow-y: auto;">
                            <!-- populated by card warnings js -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-normal">Oxygen Level (%)</h5>
                <h3 class="card-text font-weight-normal"><span id="oxygen-level">Loading...</span></h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-normal">Purity Level (%)</h5>
                <h3 class="card-text font-weight-normal"><span id="purity-level">Loading...</span></h3>
            </div>
        </div>
    </div>
    
    {% block custom-cards %}
    {% endblock %}

    {% block custom-content-upper %}
    {% endblock %}

    <hr>

    <h3 class="font-weight-normal mb-4">Coordinators</h3>
    <table class="table table-bordered table-hover table-sm" id="coordinators-table">
        <thead>
            <tr>
                <th scope="col">Object ID</th>
                <th scope="col">Coordinator Name</th>
                <th scope="col">Total Helium (L)</th>
                <th scope="col">Connected Devices</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate body with AJAX sourced data -->
        </tbody>
    </table>

    {% if building.graphs %}
    <hr>
    <h3 class="font-weight-normal mb-3">Graphs</h3>
        {% for graph_object_id in building.graphs %}
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0 mb-2">
                    <a href='http://localhost:3000/d/hlmview/object-measurements?orgId=1&refresh=5m&var-object={{graph_object_id}}'>View in Grafana</a>
                </div>
                <div class="col px-0">
                    <select class="custom-select float-right trends-range" data-graph="trends-graph-{{forloop.counter}}" onchange="updateGraphTimeRange(this)">
                    </select>
                </div>
            </div>
        </div>
        
        <iframe src="http://localhost:3000/d-solo/hlmview/object-measurements?orgId=1&refresh=5m&var-object={{graph_object_id}}&panelId=32&from=now-24h&to=now" 
        width="100%" height="350" frameborder="0" id="trends-graph-{{forloop.counter}}" class="mb-4"></iframe>
        {% endfor %}
    {% endif %} 

    {% block custom-content-lower %}
    {% endblock %}

    {% if building.map %}
    <hr>
    <h3 class="font-weight-normal mb-3">{{ building.id }} Map</h3>
    {% with 'images/'|add:building.map as image_static %}
        <img src="{% static image_static %}" alt="{{ building.id }} Map" style="width: 80%">
    {% endwith %}
    {% endif %}

</div>
{% endblock %}
