{% extends 'base.html' %}
{% load static %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var element = document.getElementById("nav-overview");
            element.classList.add("active");
        })
    </script>

    <!-- Update total helium values -->
    <script>
        function updateValues() {
            $.ajax({
                url: "{% url 'coordinators_data' %}",
                dataType: 'json',
                success: function(data) {
                    $("#R55 #he-total").text(data["R55"]["he_total"]);
                    $("#R80 #he-total").text(data["R80"]["he_total"]);
                    $("#R53 #he-total").text(data["R53"]["he_total"]);
                    $("#R108 #he-total").text(data["R108"]["he_total"]);

                }
        });
    }

        updateValues();
        setInterval( updateValues, 300000 ); // 5 min
    </script>

{% endblock %}

{% block content %}
<h3 class="font-weight-light mx-5 mb-3 mt-5 text-center">Overview</h3> <hr class="mx-5">
<div class="card-deck mx-5 text-center">

    {% for building in buildings %}

        <div class="card box-shadow mb-3" id="{{ building.id }}">
            <a href="{% url building.id %}" class="stretched-link"></a>
            <img class="card-img-top" src="{% static building.image %}" alt="{{ building.id }} Image">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ building.id }}</h4>
                <span class="font-weight-light">{{ building.desc }}</span>
            </div>
            <div class="card-body" style="z-index: 1;">
                <h5 class="my-0 font-weight-light">Total He: </h5>
                <h4 class="font-weight-light"><span id="he-total" class="font-weight-normal"></span> L</h4>
                <p class="font-weight-light text-muted">{{ building.total_he_info }}</p>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
