{% extends 'base.html' %}
{% load static %}

{% block title %}
- Overview
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var element = document.getElementById("nav-overview");
            element.classList.add("active");
        })
    </script>

    <!-- Update total helium, oxygen & purity values -->
    {{ buildings|json_script:'buildings'}}
    <script>
        function updateValues() {
            $.ajax({
                url: "{% url 'general_data' %}",
                dataType: 'json',
                success: function(data) {
                    const buildings = JSON.parse(document.getElementById('buildings').textContent);
                    buildings.forEach(building => {
                        $("#" + building.id + " #he-total").text(data[building.id]["he_total"]);
                        $("#" + building.id + " #oxygen-level").text(data[building.id]["oxygen"]);
                        $("#" + building.id + " #purity-level").text(data[building.id]["purity"]);
                    })
                }
            });
        }

        updateValues();
        setInterval( updateValues, 300000 ); // 5 min
    </script>

{% endblock %}

{% block content %}
<h3 class="font-weight-light mx-5 mb-3 mt-5 text-center">Overview</h3> <hr class="mx-5">
<div class="card-deck mx-5 text-center">

    {% for building in buildings %}

        <div class="card box-shadow mb-3" id="{{ building.id }}">
            <a href="{% url 'building' building=building.id %}" class="stretched-link"></a>
            <img class="card-img-top" src="{% static building.image %}" alt="{{ building.id }} Image">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ building.id }}</h4>
                <span class="font-weight-light">{{ building.desc }}</span>
            </div>
            <div class="card-body" style="z-index: 1;">

                <h5 class="my-0 font-weight-light d-inline">Total He: </h5>
                <h4 class="font-weight-light d-inline"><span id="he-total" class="font-weight-normal"></span> L</h4>
                <p class="font-weight-light text-muted" style="max-height: 24px;">{{ building.total_he_info }}</p>

                <br>

                <table class="table">
                    <tbody>
                      <tr>
                        <td>Oxygen Level</td>
                        <td><span id="oxygen-level" class="font-weight-light"></span></td>
                      </tr>
                      <tr>
                        <td>Purity Level</td>
                        <td><span id="purity-level" class="font-weight-light"></span></td>
                      </tr>
                    </tbody>
                  </table>  
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
