{% extends 'base.html' %}
{% load static %}

{% block title %}
- Measurements
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">Measurements</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}
    <script src="{% static 'plugins/jquery-dateformat.min.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'measurement_types' %}",
                dataType: 'json',
                complete: function(data) {
                    var mea_types = data.responseJSON;

                    let hideEmptyMeasChecked = false;  // for saving state of custom filter
                    var table = $('#objects-table').DataTable( {
                        pageLength: 25,
                        lengthMenu: [10, 25, 50, 100, 150, 200, 250],
                        retrieve: true,
                        stateSave: true,
                        stateSaveParams: function(settings, data) {
                            data.emptyMeasHidden = $('input#cb-hide-empty-meas').is(':checked');
                            data.positionSelect = $('select#select-position-filter').val();
                            
                            data.objectClassDropdown = {}
                            $('ul#obj-class-display .obj-class-filter').each( function() {
                                const objectClass = $(this).attr('data-val');
                                data.objectClassDropdown[ objectClass ] = $(this).is(':checked');
                            });

                            data.columnDisplayDropdown = {}
                            $('ul#columns-display .col-toggle-vis').each( function() {
                                const column = $(this).attr('data-column');
                                data.columnDisplayDropdown[ column ] = $(this).is(':checked');
                            });

                        },
                        stateLoadParams: function(settings, data) {
                            if (data.emptyMeasHidden !== undefined) { 
                                $('input#cb-hide-empty-meas').prop('checked', data.emptyMeasHidden) 
                                hideEmptyMeasChecked = data.emptyMeasHidden;  // update custom filter state (used in initComplete)
                            }
                            if (data.positionSelect !== undefined) { 
                                $('select#select-position-filter').val(data.positionSelect) 
                            }
                            if (data.objectClassDropdown !== undefined) {
                                let dict = data.objectClassDropdown
                                for (let objectClass in dict) {
                                    let checked = dict[objectClass];
                                    $('ul#obj-class-display .obj-class-filter[data-val="' + objectClass + '"]').prop('checked', checked);
                                }
                            }
                            if (data.columnDisplayDropdown !== undefined) {
                                let dict = data.columnDisplayDropdown
                                for (let column in dict) {
                                    let checked = dict[column];
                                    $('ul#columns-display .col-toggle-vis[data-column="' + column + '"]').prop('checked', checked);
                                }
                            }
                        },
                        ajax: {
                            url: "{% url 'objects_table_data' %}",
                            type: 'GET',
                            dataSrc: ''
                        },
                        columnDefs: [
                            {
                                targets: [7, 8, 9, 10, 11],
                                defaultContent: '',
                                render: function(data, type, row, meta) {
                                    if (type == 'display') {
                                        if (!(mea_types === undefined) && !(data === null)) {
                                            // Update "meta.col - 3" if targets change
                                            const mea_type = mea_types[row.ob_type][meta.col - 7];
                                            data = '<span>' + (mea_type !== null ? mea_type : 'N/A') + '</span>' + data;
                                        }
                                    }
                                    return data;
                                }
                            },
                            {
                                targets: [2, 4, 6],
                                visible: false
                            }
                        ],
                        columns: [
                            {"data": "ob_id"},
                            {"data": "ob_name",
                            "render": function(data, type, row, meta) {
                                if (type == 'display') {
                                    data = '<a href="' + "{% url 'detail' %}" + row.ob_id + '">' + data + '</a>'; 
                                }
                                return data;
                            }
                            },
                            {"data": "ob_type_name"},
                            {"data": "ob_class_name"},
                            {"data": "ob_comment"},
                            {"data": "dg_name"},
                            {"data": "ob_posinformation"},
                            {"data": "mea_values.0"},
                            {"data": "mea_values.1"},
                            {"data": "mea_values.2"},
                            {"data": "mea_values.3"},
                            {"data": "mea_values.4"},
                            {"data": "mea_date",
                            "render": function(data, type, row, meta) {
                                if (type == 'display') {
                                    if (!(data === null)) {
                                        data = $.format.date(data, "MMM. d, yyyy, h:mm p");
                                    }
                                }
                                return data;
                            }
                            }
                        ],
                        initComplete: function() {
                            $("#objects-table").width("100%");
                            refreshLastUpdatedDate();

                            if (hideEmptyMeasChecked) {
                                hideEmptyMeasurements($('input#cb-hide-empty-meas')[0]);   
                            }
                        }
                    });

                    // update table data every few mins (100000 = 100s)
                    setInterval(ajaxReload, 300000 );
                }
            });
        } );
    </script>

    <!-- Utils -->
    <script>
        // to prevent function repeatedly being called on button spam
        let locked = false;
        function unlock () {
            locked = false;
            if ($("button#reload-data-btn").is(":disabled")) {
                $("button#reload-data-btn").prop("disabled", false);
            }
        }

        function reloadDataButtonClick() {
            if (!locked) {
                locked = true;
                $("button#reload-data-btn").prop("disabled", true);
                setTimeout(unlock, 5000);
                ajaxReload();
            }
        }

        function ajaxReload () {
            let table = $('#objects-table').DataTable();
                table.ajax.reload(function() {
                    refreshLastUpdatedDate();
                }, false );
        }

        function refreshLastUpdatedDate() {
            let date = $.format.date(Date.now(), "yyyy-MM-dd HH:mm:ss");
            $("span#last-updated").text(date);
        }

        function resetTableButtonClick() {
            let table = $('#objects-table').DataTable();
            table.state.clear();
            location.reload();
        }
    </script>

    <!-- Hide empty measurements checkbox -->
    <script>
        function hideEmptyMeasurements(cb) {
            var table = $('#objects-table').DataTable();
            if(cb.checked){
                $.fn.dataTable.ext.search.push(
                    function(settings, data, dataIndex) {
                        const isNull = (value) => value === null;
                        const rowData = table.row(dataIndex).data();
                        return !rowData.mea_values.every(isNull);
                    });
            } else {
                $.fn.dataTable.ext.search.pop();
            }
            table.draw();
        }
    </script>

    <!-- Filter by position select -->
    <script>
        // Populate object position (display group) filter select options
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'display_groups' %}",
                dataType: 'json',
                complete: function(data) {
                    var displayGroups = data.responseJSON;
                    displayGroups.unshift({"dg_name": "All"});
                    $.each(displayGroups, function(key, displayGroup) {
                        var option = new Option(displayGroup.dg_name, displayGroup.dg_name);
                        $("#select-position-filter").append(option);
                    });
                }
            });
        });

        function filterByPosition(selection) {
            var table = $('#objects-table').DataTable();
            // Update if columns change
            table.columns( 5 ).search( selection.value != "All" ? selection.value : '' ).draw();
        }
    </script>

    <!-- Dropdown Menus -->
    <script>
        $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
            $(this).closest("li").toggleClass("active", this.checked);
        });

        $(document).on('click', '.allow-focus', function (e) {
            e.stopPropagation();
        });
    </script>

    <!-- Display columns dropdown -->
    <script>
        // Populate column display dropdown
        $(document).ready(function() {
            let columns = [
                ["Object ID", "checked disabled"],
                ["Object Name", "checked"],
                ["Object Type", ""],
                ["Object Class", "checked"],
                ["Object Comment", ""],
                ["Position", "checked"],
                ["Position Information", ""],
                ["Measurement 1", "checked"],
                ["Measurement 2", "checked"],
                ["Measurement 3", "checked"],
                ["Measurement 4", "checked"],
                ["Measurement 5", "checked"],
                ["Last Update", "checked"]
            ]
            $.each(columns, function(i, col) {
                $("#columns-display").append(
                    '<li><label>'
                    + '<input type="checkbox" class="col-toggle-vis" data-column="' + i + '"' + col[1] + '>' + col[0]
                    + '</label></li>'
                )
            })
        })

        $('#columns-display').on('change', 'input', function (e) {
            e.preventDefault();
    
            var table = $('#objects-table').DataTable();

            // Get the column API object
            var column = table.column( $(this).attr('data-column') );
    
            // Toggle the visibility
            column.visible( this.checked );
            $("#objects-table").width("100%");
        });
    </script>

    <!-- Populate obj class dropdown -->
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'object_classes' %}",
                dataType: 'json',
                complete: function(data) {
                    const objectClasses = data.responseJSON;
                    $.each(objectClasses, function(i, obj_class) {
                        $("#obj-class-display").append(
                            '<li><label>'
                            + '<input type="checkbox" class="obj-class-filter" data-val="' + obj_class.oc_name + '" checked>' + obj_class.oc_name
                            + '</label></li>'
                        )
                    })
                }
            });
        });

        function applyClassFilter() {
            var table = $('#objects-table').DataTable();

            var checkedClasses = [];
            $('#obj-class-display .obj-class-filter').each(function() {
                if ( $(this).is(':checked') ) {
                    checkedClasses.push( $(this).attr('data-val') );
                }
            })

            // If none are checked, show nothing, instead of "no search"
            // Update if columns change
            if ( checkedClasses.length == 0) {
                table.column( 3 ).search( false ).draw();
            } else {
                table.column( 3 ).search( checkedClasses.join('|'), true, false, true ).draw();
            }
        }

        $('#obj-class-display').on('change', 'input', function (e) {
            e.preventDefault();
            applyClassFilter();
        });

        function objClassSelectAll(select) {
            $("#obj-class-display .obj-class-filter").each(function() {
                $(this).prop("checked", select);
            });
            applyClassFilter();
        }
    </script>

    <script>
        $(document).ready(function() {
            var element = document.getElementById("nav-measurements");
            element.classList.add("active");
        })
    </script>
{% endblock %}

{% block content %}
    <div id="objects-table-wrapper">
        <h3 class="font-weight-normal mb-4">Object Measurements</h3>
        <div id="objects-table-toolbar">
            <label class="mr-4"><input type="checkbox" id="cb-hide-empty-meas" onclick="hideEmptyMeasurements(this)"> Hide empty measurements</label>

            <label class="mr-4">Position: <select class="custom-select" id="select-position-filter" onchange="filterByPosition(this)"></select></label>
            
            <div class="dropdown mr-4" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="obj-class-dropdown" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                    Object class
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" id="obj-class-display" aria-labelledby="obj-class-dropdown"
                style="max-height: 300px; overflow-y: auto;"> <!-- Scroll -->
                <li>
                    <div class="d-flex justify-content-center mb-2">
                        <button class="btn btn-outline-primary btn-sm mr-1" type="button" onclick="objClassSelectAll(1)">Select All</button>
                        <button class="btn btn-outline-primary btn-sm" type="button" onclick="objClassSelectAll(0)">Deselect All</button>
                    </div>
                </li>
                </ul>
            </div>

            <div class="dropdown mr-4" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="columns-display-dropdown" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                    Display columns
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" id="columns-display" aria-labelledby="columns-display-dropdown">
                </ul>
            </div>

            <div class="float-right">    
                <small class="text-muted mr-2">Last updated on <span class="font-weight-bold" id="last-updated">...</span></small>
                <button type="button" id="reload-data-btn" class="btn btn-outline-primary btn-sm mr-1" onclick="reloadDataButtonClick()">Reload data</button>
                <button type="button" id="reset-table-btn" class="btn btn-outline-primary btn-sm" onclick="resetTableButtonClick()">Reset table</button>
            </div>

        </div>
        <table class="table table-bordered table-hover table-sm" id="objects-table">
            <thead>
                <tr>
                    <th scope="col" rowspan="2">ID</th>
                    <th scope="col" rowspan="2">Object Name</th>
                    <th scope="col" rowspan="2">Type</th>
                    <th scope="col" rowspan="2">Class</th>
                    <th scope="col" rowspan="2">Comment</th>
                    <th scope="col" rowspan="2">Position</th>
                    <th scope="col" rowspan="2">Position Details</th>
                    <th scope="col" colspan="5" style="text-align: center; border-bottom: none;">Measurements</th>
                    <th scope="col" rowspan="2">Last Update</th>
                </tr>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                </tr>
            </thead>
            <tbody>
                <!-- Populate body with AJAX sourced data -->
            </tbody>
        </table>    
    </div>
{% endblock %}
