{% extends 'base.html' %}
{% load static %}

{% block title %}
- Measurements
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">Measurements</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}  

<script>
    $(document).ready(function() {
        var element = document.getElementById("nav-measurements");
        element.classList.add("active");
    })
</script>

{% url 'measurement_types' as mea_types %} {{ mea_types|json_script:"mea-types-url" }}
{% url 'objects_table_data' as obj_data %} {{ obj_data|json_script:"objects-data-url" }}
{% url 'detail' as obj_details %} {{ obj_details|json_script:"obj-details-url" }}
{% url 'display_groups' as display_groups %} {{ display_groups|json_script:"display-groups-url" }}
{% url 'display_groups' as display_groups %} {{ display_groups|json_script:"display-groups-url" }}
{% url 'object_classes' as object_classes %} {{ object_classes|json_script:"obj-class-list-url" }}

<script type="text/javascript" src="{% static 'js/custom/tables/measurements-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/meas-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/meas-hide-empty.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/meas-pos-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/meas-class-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/meas-col-display.js' %}"></script>

{% endblock %}

{% block content %}
    <div id="objects-table-wrapper">
        <h3 class="font-weight-normal mb-4">Object Measurements</h3>
        <div id="objects-table-toolbar">
            <label class="mr-4"><input type="checkbox" id="cb-hide-empty-meas" onclick="hideEmptyMeasurements(this)"> Hide empty measurements</label>

            <label class="mr-4">Position: <select class="custom-select" id="select-position-filter" onchange="filterByPosition(this)"></select></label>
            
            <div class="dropdown mr-4" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="obj-class-dropdown" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                    Object class
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" id="obj-class-display" aria-labelledby="obj-class-dropdown"
                style="max-height: 300px; overflow-y: auto;"> <!-- Scroll -->
                <li>
                    <div class="d-flex justify-content-center mb-2">
                        <button class="btn btn-outline-primary btn-sm mr-1" type="button" onclick="objClassSelectAll(1)">Select All</button>
                        <button class="btn btn-outline-primary btn-sm" type="button" onclick="objClassSelectAll(0)">Deselect All</button>
                    </div>
                </li>
                </ul>
            </div>

            <div class="dropdown mr-4" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="columns-display-dropdown" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                    Display columns
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" id="columns-display" aria-labelledby="columns-display-dropdown">
                </ul>
            </div>

            <div class="float-right">    
                <small class="text-muted mr-2">Last updated on <span class="font-weight-bold" id="last-updated">...</span></small>
                <button type="button" id="reload-data-btn" class="btn btn-outline-primary btn-sm mr-1" onclick="reloadDataButtonClick()">Reload data</button>
                <button type="button" id="reset-table-btn" class="btn btn-outline-primary btn-sm" onclick="resetTableButtonClick()">Reset table</button>
            </div>

        </div>
        <table class="table table-bordered table-hover table-sm" id="objects-table">
            <thead>
                <tr>
                    <th scope="col" rowspan="2">ID</th>
                    <th scope="col" rowspan="2">Object Name</th>
                    <th scope="col" rowspan="2">Type</th>
                    <th scope="col" rowspan="2">Class</th>
                    <th scope="col" rowspan="2">Comment</th>
                    <th scope="col" rowspan="2">Position</th>
                    <th scope="col" rowspan="2">Position Details</th>
                    <th scope="col" colspan="5" style="text-align: center; border-bottom: none;">Measurements</th>
                    <th scope="col" rowspan="2">Last Update</th>
                </tr>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                </tr>
            </thead>
            <tbody>
                <!-- Populate body with AJAX sourced data -->
            </tbody>
        </table>    
    </div>
{% endblock %}
