{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">R55</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        var element = document.getElementById("nav-r55");
        element.classList.add("active");
    })
</script>

<script>
    $(document).ready(function() {
        $('img').width($(window).width());
    })
</script>
{% endblock %}

{% block content %}
<div class="mx-5 my-3">
    <h2 class="font-weight-normal text-center">R55 - Target Station 1</h2>

    <hr>
    
    <div id="r55-map-wrapper" style="position: relative;">
        <img src="{% static 'images/R55_map.png' %}"  alt="R55" style="width: 100%">
        <h3 style="position: absolute; top: 1vw; left: 2vw;">TEST1</h3>
        <h3 style="position: absolute; top: 17vw; left: 20vw;">TEST</h3>
        <h3 style="position: absolute; top: 10vw; left: 50vw;">TEST2</h3>
    </div>
    
</div>
{% endblock %}
