{% extends 'base.html' %}
{% load static %}

{% block title %}
- MCPs
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page">MCPs</li>
    </ol>
</nav>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        var element = document.getElementById("nav-mcps");
        element.classList.add("active");
    })
</script>

{% url 'hps_data' as hps_data %} {{ hps_data|json_script:"hps-data-url" }}
{% url 'detail' as obj_detail %} {{ obj_detail|json_script:"obj-detail-url" }}
<script type="text/javascript" src="{% static 'js/custom/tables/hps-mcps-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/tables/hps-purity-table.js' %}"></script>

{% endblock %}

{% block content %}
<div class="m-4">
    <h2 class="font-weight-normal text-center mb-4">High Pressure System</h2>

    <hr>
    <h3 class="font-weight-normal mb-4 mt-5">MCPs</h3>

    <table class="table table-bordered table-hover table-sm" id="mcps-table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Pressure</th>
                <th scope="col">Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate body with AJAX sourced data -->
        </tbody>
    </table>

    <hr>
    <h3 class="font-weight-normal mb-4 mt-5">Purity</h3>

    <table class="table table-bordered table-hover table-sm" id="purity-table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Purity Level</th>
                <th scope="col">Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate body with AJAX sourced data -->
        </tbody>
    </table>
</div>
{% endblock %}
